

<div class="descript" >
            
        <h2>Авторизация</h2>
        <form class="wed50" asp-action=LogIn asp-controller="User">
            <p>
                <input type='text' name='email' placeholder="Эл. почта" />
            </p>
            <p>
                <input type='password' name='password' placeholder="Пароль"/>
            </p>
            <div class="space-between">
                <input class="boxed-btn3" type='submit' value='Вход' />
                <a asp-area="" asp-controller="User" asp-action="Registration">Регистрация</a>
            </div>
            
        </form>
        
        </div>


