


    <div class="container pad100_0">
        <div class="d-flex justify-content-center">
            <div class="col-md-6">

                <div class="card" style="margin-top:10px;">
                    <div class="card-header">Cropper in ASP.NET Core</div>
                    <div class="card-body">
                        <div id="main-cropper"></div>
                        <input type="file" id="select" class="form-control" value="Choose Image" accept="image/*">
                        <button id="btnupload" style="margin-top: 10px;" name="btnupload" class="btn btn-success">Crop</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


